

<div class="report-section">
   <div id='chart-test_report' val='[
   {"brazil": 60},
  {"france": 10},
  {"united_states": 5},
  {"canada": 5},
  {"italy": 20},
  {"south_africa": 10},
  {"thailand": 2}
  ]'></div>
  </div>
</div>