<h1><strong><%= FUND %> Data Center</strong></h1>
<div class="row">
  <h4 class="col-sm-8"><strong>Budget bar, design TK</strong></h4>
</div>
<!-- UNCOMMENT WHEN BUDGET BAR IS READY
<div id="budget_bar">
  <div class="progress"></div>
  <div class="progress-bar progress-bar-striped"</div>
</div>
 -->
<div id="test" style="display: none"></div>

<%= link_to 'Change Below', thing_path(42), remote: true %>

Dashboard totals: <span id="dashboard-totals"><%=
  link_to ".",
          url_for({controller: "reports", action: "totals"}),
          method: :patch, remote: true,
          class: "dashboard-totals"
%></span>
